<footer class="footer">
  <div class="footer-top">
      <div class="container">
          <div class="footer-brand">
<br>
<br>
              <a href="#" class="logo">
                  <img src="./assets/images/logo.svg" alt="Tourly logo">
              </a>
              <h4 class="contact-title" style="font-weight: bold ;font-size: x-large;"> Get In Touch And Feel Free To Contact Us</h4>


          </div>

              <p class="footer-text"  style="font-size: larger;">
<br>
At Tourly, we’re passionate about turning your travel dreams into reality. Explore breathtaking destinations, plan seamless adventures, and create memories that last a lifetime. Whether it’s a solo journey or a group getaway, we’re here to make every moment unforgettable. Connect with us today and start your next adventure!
              </p>

          <div class="contactcard">
            <div class="contact-us">
              <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" alt="location icon">
              </div>
              <div class="info">
                <h3>Address Location</h3>
                <p>123 El Tahrir St., Nasr City, Cairo, Egypt 11528</p>
              </div>
            </div>

            <div class="contact-us">
              <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/512/561/561127.png" alt="email icon">
              </div>
              <div class="info">
                <h3>Email Address</h3>
                <p>info.com, Tourly.com</p>
              </div>
            </div>

            <div class="contact-us">
              <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/512/597/597177.png" alt="phone icon">
              </div>
              <div class="info">
                <h3>Phone Number</h3>
                <p>Telephone: 619-270-8578 / Mobile: +(02) 1987 123 88</p>
              </div>
            </div>
          </div>

      </div>
  </div>

  <div class="footer-bottom">
      <div class="container">
          <p class="copyright">
              &copy; 2025 <a href="">Tourly</a>. All rights reserved
          </p>
          <ul class="footer-bottom-list">
              <li>
                  <a href="#" class="footer-bottom-link">Privacy Policy</a>
              </li>
              <li>
                  <a href="#" class="footer-bottom-link">Term & Condition</a>
              </li>
              <li>
                  <a href="#" class="footer-bottom-link">FAQ</a>
              </li>
          </ul>
      </div>
  </div>
</footer>