<section class="hero" id="hero"   >
  <div class="container "   >
      <img src="./assets/images/bahaa-mourad-EitGuBFJ7l0-unsplash.jpg" alt="Hero Image" class="hero-background" >

      <h2 class="h1 hero-title">Journey to explore world</h2>

      <p class="hero-text">
         Let each stay weave unforgettable memories into your journey’s story
      <div class="btn-group">
          <button class="btn btn-primary" routerLink="/aboutus" >Learn more</button>
          <button class="btn btn-secondary" (click)="scrollTo('toursearch')">Book now</button>

      </div>

  </div>
</section>





