<div class="failure-container">
    <div class="failure-card">
      <div class="icon-container">
        <svg class="failure-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="10"></circle>
          <line x1="15" y1="9" x2="9" y2="15"></line>
          <line x1="9" y1="9" x2="15" y2="15"></line>
        </svg>
      </div>
      <h1 class="section-title">Payment Failed</h1>
      <p class="card-text" style="font-weight: var(--fw-600);">Transaction ID: <span>{{ transactionId }}</span></p>
      <p class="card-text">Please try again or contact support.</p>
      <button class="btn btn-primary back-home-btn" routerLink="/Home">Back Home</button>
    </div>
  </div>