<section   class="tour-search" id="toursearch">
    <div class="container">
    

      <form action="" class="tour-search-form" (ngSubmit)="onSubmit()" #inquiryForm="ngForm">

        <div class="input-wrapper">
          <label for="destination" class="input-label">Search Destination*</label>
          <div class="input-field">
          <select name="destination" id="destination" required  style="color: var(--spanish-gray); border:none; width:100%;"   [(ngModel)]="formData.city">
            <option class="input-field"value="" disabled selected class="placeholder-option" style="color: var(--spanish-gray);">Choose Destination</option>
            <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
          </select>
        </div>
        </div>

        <div class="input-wrapper ">
          <label for="people" class="input-label">Room Type*</label>
         <div class="input-field">
          <select name="people" id="people" required  style="color: var(--spanish-gray);  border:none; width:100%" [(ngModel)]="formData.roomType">
            <option value=""   disabled selected class="placeholder-option">Room. Type        </option>
            <option value="Single" >Single</option>
            <option value="Double">Double</option>
            <option value="Suit">Suit</option>
          </select>
        </div>
        </div>

        <div class="input-wrapper">
          <label for="checkin" class="input-label">Checkin Date**</label>

          <input type="date" name="checkin" id="checkin" required class="input-field" [(ngModel)]="formData.checkIn">
        </div>

        <div class="input-wrapper">
          <label for="checkout" class="input-label">Checkout Date*</label>

          <input type="date" name="checkout" id="checkout" required class="input-field" [(ngModel)]="formData.checkOut">
        </div>

        <button type="submit" class="btn btn-secondary">Inquire now</button>

      </form>

    </div>
  </section>
